:host {
  max-width: 380px;

  h1.heading-main {
    color: #535465;
    font-weight: 600;
    font-size: 30px;
  }

  h4.heading-secondary {
    color: #a1a2a5;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 10px;
  }
}
